{% load static %}

<!--Welcome Note-->
<section class="welcome-section pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-9 col-sm-11 text-center ">
                <h2 class="mb-4">Welcome to <span>Randy Barber</span> -20 Years of Experience</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 col-sm-12 text-center">
                <p>Randy Barber is not just a barbershop, but a place to feel at home and enjoy the breeze of life.
                    There is no colouring with us!
                    <br>
                    We, Randy Osei and Randy Agyei, were brought together through a fateful encounter.
                    "The Universe did it!"
                    <br>
                    How did the universe make Randy Barber possible for us?
                    We have the same idea of life, which is also reflected in our barber art.
                    We have experience for over 20 Years of caring for your hair, You are in a safe HAND
                    <br>
                    With us, the man is still a man.
                    You forget the stress of everyday life in a pleasant environment with a fresh haircut and a
                    fresh beer.

                    Nice Haircut Nice Life!
                </p>
            </div>
        </div>
    </div>
</section>
<!--End Welcome Note-->